<a href="https://colab.research.google.com/github/teacher014/pyhonbasic/blob/main/P_01_4_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC(%EC%99%84).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리(dictionary)
+ **특징**
 - 키(key)와 값(value) 쌍을 요소로 가짐
 - 중괄호({})로 작성되며 각 요소는 쉼표(,)로 구분
 - 순서 없음 
 - 키는 변경할 수 없으며 값은 변경가능 
+ **딕셔너리 접근**
 - 특정 요소 값 : 딕셔너리명[키]
 - 요소 키 컬렉션  : 딕셔너리명.keys()
 - 요소 값 컬렉션 : 딕셔너리명.values()
 - 요소 키, 값 컬렉션 : 딕셔너리명.items()
 - 키와 요소 컬렉션은 list() 생성자로 리스트로 변환가능
+ **요소 추가**
 - 딕셔너리명[추가키]=값
+ **요소 수정**
 - 딕셔너리명[키]=값
+ **요소 삭제**
 - del 딕셔너리명[키]
 - 딕셔너리명.pop[키]<p> 
 
<img src = "https://dschloe.github.io/img/python_edu/01_basic/Step2_DataStructures/dictionary/dictionary.png#center">

## 1. 딕셔너리 키와 값

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/12_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.png?raw=true' width=400>
<br/>
<img src='https://github.com/teacher-jiejie/allinone_AI/blob/images/72_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%20%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EB%B9%84%EA%B5%90.png?raw=true' width=300>
<p>Key (키) - Value (값) 대응<p>

```
딕셔너리이름 = {키1 : 값1, 키2 : 값2, ... 키n : 값n}
```

##**딕셔너리 만들기**##
(참고) https://realpython.com/python-dicts/<br>

1) {  } 이용
```
d = {
    <key>: <value>,
    <key>: <value>,
      .
      .
      .
    <key>: <value>
}
```
```
MLB_team = {
            'Colorado' : 'Rockies',
            'Boston'   : 'Red Sox',
            'Minnesota': 'Twins',
            'Milwaukee': 'Brewers',
            'Seattle'  : 'Mariners'
        }
```
2) dict() 이용
```
d = dict([
    (<key>, <value>),
    (<key>, <value),
      .
      .
      .
    (<key>, <value>)
])
```
```
MLB_team = dict([
     ('Colorado', 'Rockies'),
     ('Boston', 'Red Sox'),
     ('Minnesota', 'Twins'),
     ('Milwaukee', 'Brewers'),
     ('Seattle', 'Mariners')
])
```

(실습) 국내 야구팀을 Dictionary 형태로 만들어보자. (위 두 방법 중 택일, 5개이상)
https://www.koreabaseball.com/About/Etc/TeamInfo.aspx
<br>(연고지, 팀이름)<br>
예) ('부산' : '롯데 자이언츠')

In [ ]:
KBO_Teams = {
    '삼성' : '라이온즈',
    'KIA' : '타이거즈',
    '롯데' : '자이언츠'
}
KBO_Teams

{'KIA': '타이거즈', '롯데': '자이언츠', '삼성': '라이온즈'}

In [ ]:
# 딕셔너리
dt = {'a':200, 'b':150, 'c':100}
dt

{'a': 200, 'b': 150, 'c': 100}

In [ ]:
print(f'dt.keys() : {list(dt.keys())}')
print(f'dt.values() : {list(dt.values())}')

dt.keys() : ['a', 'b', 'c']
dt.values() : [200, 150, 100]

In [ ]:
dt['d']=300
dt

{'a': 200, 'b': 150, 'c': 100, 'd': 300}

In [ ]:
del dt['b']
dt

{'a': 200, 'c': 100, 'd': 300}

In [ ]:
# 딕셔너리 키
print(f'딕셔너리 키 list(dt.keys()): {list(dt.keys())}')

# 딕셔너리 값
print(f'딕셔너리 값 list(dt.values()) : {list(dt.values())}')

# 딕셔너리 접근
print(f"딕셔너리 a 값 dt['a'] : {dt['a']}")

# 딕셔너리 추가
dt['d'] = 30
print(dt)

# 딕셔너리 수정
dt['b'] = 1
print(dt)

# 딕셔너리 삭제
del dt['b']
print(dt)

딕셔너리 키 list(dt.keys()): ['a', 'b', 'c', 'd']
딕셔너리 값 list(dt.values()) : [200, 1, 100, 30]
딕셔너리 a 값 dt['a'] : 200
{'a': 200, 'b': 1, 'c': 100, 'd': 30}
{'a': 200, 'b': 1, 'c': 100, 'd': 30}
{'a': 200, 'c': 100, 'd': 30}

## 2. 딕셔너리의 키와 값

딕셔너리의 키만 꺼내기 :
> 딕셔너리이름.keys()
<br/>

딕셔너리의 값(value)만 꺼내기 :

> 딕셔너리이름.values()
<br/>

딕셔너리의 키-값 모두 꺼내기 
>딕셔너리이름.items()

In [ ]:
kakao = {'어피치':43, '네오':54, '라이언':90, '제이지':30, '프로도':80}

## 3. 딕셔너리 정렬하기 

> sorted( ) : sorted(딕셔너리명)

```
# 딕셔너리 키를 정렬
sorted(딕셔너리.keys())

# 딕셔너리 값을 정렬
sorted(딕셔너리.values())

# 딕셔너리 키-값을 정렬
sorted(딕셔너리.items())
```
```
# 값을 기준으로 키, 값 함께 정렬
import operator

sorted(kakao.items(), key=operator.itemgetter(0))
sorted(kakao.items(), key=operator.itemgetter(1))
0:키 기준, 1: 값 기준
sorted(kakao.items(), key=operator.itemgetter(1), reverse=True)
내림차순
sorted(kakao.items(), key=operator.itemgetter(1), reverse=True)[:2]

```
- 딕셔너리 키, 값 정렬시 :
- 결과는 튜플로 변경되어, 리스트로 반환된다.

In [ ]:
kakao = {'어피치':43, '네오':54, '라이언':90, '제이지':30, '프로도':80}

In [ ]:
import operator
sorted(kakao.items(), key=operator.itemgetter(1), reverse = True)[:2]

[('라이언', 90), ('프로도', 80)]

## 반복문으로 딕셔너리 다루기

<img src='https://github.com/teacher-jiejie/allinone_AI/blob/images/77_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC_%EA%B0%92%EB%B0%98%EB%B3%B5.png?raw=true' width=400>

In [ ]:
kakao = {'어피치':43, '네오':54, '라이언':90, '제이지':30, '프로도':80, '콘':83, '무지':45, '튜브':68}
for i in kakao:
  print(i, end = ' ')

어피치 네오 라이언 제이지 프로도 콘 무지 튜브

In [ ]:
for i in kakao.keys():
  print(i, end='\t')

어피치	네오	라이언	제이지	프로도	콘	무지	튜브

In [ ]:
for i in kakao.keys():
  print(i, kakao[i], end=' ')

어피치 43 네오 54 라이언 90 제이지 30 프로도 80 콘 83 무지 45 튜브 68

In [ ]:
for i in kakao.items():
  print(i, end = ' ')

('어피치', 43) ('네오', 54) ('라이언', 90) ('제이지', 30) ('프로도', 80) ('콘', 83) ('무지', 45) ('튜브', 68)

In [ ]:
for i, j in kakao.items():
  print(i, j, end=' ')

어피치 43 네오 54 라이언 90 제이지 30 프로도 80 콘 83 무지 45 튜브 68

In [ ]:
for i, j in kakao.items():
  if j >=70 : 
    print(i, j, end=' ')

라이언 90 프로도 80 콘 83

In [ ]:
# 내포 복습
a= [i for i in kakao.keys() if len(i) == 3]
a

['어피치', '라이언', '제이지', '프로도']

(연습문제) 이름을 입력받아 해당학생 점수를 출력하세요. 학생이 없으면 '없음'을 출력합니다.<br>

` kakao = {'어피치':43, '네오':54, '라이언':90, '제이지':30, '프로도':80, '콘':83, '무지':45, '튜브':68}`

In [ ]:
kakao = {'어피치':43, '네오':54, '라이언':90, '제이지':30, '프로도':80, '콘':83, '무지':45, '튜브':68}
while True:
  st = input('학생의 이름은?(quit:q)')
  if st.lower() == 'q' : break
  elif st in kakao.keys() : print(kakao[st],'점')
  else : print('해당 학생 없음')

학생의 이름은?(quit:q)네오
54 점
학생의 이름은?(quit:q)남형
해당 학생 없음
학생의 이름은?(quit:q)q

### **(해결문제) 영단어장 만들기**<br>
빈도순으로 단어장 만들기<br>
https://www.gutenberg.org/ebooks/search/?sort_order=downloads

In [ ]:
import operator

fp = open('/content/alibaba.txt', 'r',encoding='utf-8')
data = fp.read()
fp.close()
data

vocab = {}
word_list = data.split()
word_list

#alibaba가 vocab 딕셔너리에 없다면 alibaba를 키로 추가, 첫 등장이므로 빈도수는 1
#vocab[단어] = 1

for w in word_list:#word_list 첫 단어부터 마지막 단어까지 반복하기
  if w not in vocab: # 단어가 vocab 딕셔너리 키에 없으면 
    vocab[w] = 1# 새로운 요소 추가
  else:
    vocab[w] += 1
vocab
#'.', ',', '!', '?' #'i'
meaningless = ['.', ',', '!', '?', 'the', 'he', 'and', 'to', 'a', 'of', 
               'was', 'in', 'had', 'for', 'it', 'that', 'but', 'as', 'with', 
               'at', 'i', 'into', 'be', 'this', 'me', 'from', 'then', 'him', 
               'his', 'her', 'she','they', 'them', 'you', 'am', 'any']
for word in meaningless:
  del vocab[word]

#vocab_final = sorted(vocab.keys())
vocab_final = sorted(vocab.items(), key=operator.itemgetter(1),reverse=True)
print(vocab_final)

for k, v in sorted(vocab.items()):
  print(k, v, end=' ')

[('alibaba', 17), ('door', 8), ('oil', 8), ('one', 6), ('cassim', 6), ('took', 6), ('said', 6), ('out', 6), ('put', 6), ('open', 5), ('which', 5), ('morgiana', 5), ('house', 5), ('captain', 5), ('went', 5), ('cogia', 5), ('hassan', 5), ('himself', 4), ('sesame', 4), ('robbers', 4), ('who', 4), ('gold', 4), ('brother', 4), ('cave', 4), ('found', 4), ('where', 4), ('two', 3), ('poor', 3), ('man', 3), ('wife', 3), ('asses', 3), ('when', 3), ('troop', 3), ('approaching', 3), ('large', 3), ('rock', 3), ('brought', 3), ('secret', 3), ('early', 3), ('next', 3), ('morning', 3), ('mules', 3), ('great', 3), ('death', 3), ('body', 3), ('pieces', 3), ('blindfolded', 3), ('robber', 3), ('jar', 3), ('pretended', 3), ('first', 3), ('soon', 3), ('every', 3), ('son', 3), ('herself', 3), ('lived', 2), ('other', 2), ('dwelt', 2), ('wood', 2), ('forest', 2), ('cut', 2), ('hastily', 2), ('hid', 2), ('each', 2), ('loaded', 2), ('immediately', 2), ('opened', 2), ('shut', 2), ('time', 2), ('instantly', 2), ('many', 2), ('told', 2), ('set', 2), ('having', 2), ('than', 2), ('made', 2), ('on', 2), ('quarters', 2), ('sent', 2), ('cobbler', 2), ('gave', 2), ('way', 2), ('back', 2), ('buried', 2), ('all', 2), ('removed', 2), ('possession', 2), ('city', 2), ('thirty-nine', 2), ('jars', 2), ('full', 2), ('rest', 2), ('merchant', 2), ('offered', 2), ('invited', 2), ('guest', 2), ('supper', 2), ('night', 2), ('within', 2), ('ran', 2), ('kitchen', 2), ('boiled', 2), ('coming', 2), ('shop', 2), ('opposite', 2), ('appeared', 2), ('some', 2), ('dagger', 2), ('town', 1), ('persia', 1), ('brothers', 1), ('sons', 1), ('named', 1), ('elder', 1), ('married', 1), ('considerable', 1), ('fortune', 1), ('ease', 1), ('mean', 1), ('cottage', 1), ('suburbs', 1), ('maintained', 1), ('family', 1), ('by', 1), ('cutting', 1), ('preparing', 1), ('load', 1), ('faggots', 1), ('saw', 1), ('horsemen', 1), ('climbed', 1), ('thick', 1), ('tree', 1), ('among', 1), ('branches', 1), ('counted', 1), ('forty', 1), ('portmanteau', 1), ('horse', 1), ('turning', 1), ('passed', 1), ('itself', 1), ('short', 1), ('again', 1), ('came', 1), ('closed', 1), ('ventured', 1), ('down', 1), ('flew', 1), ('bags', 1), ('coin', 1), ('could', 1), ('carry', 1), ('rose', 1), ('ten', 1), ('chests', 1), ('gained', 1), ('admission', 1), ('more', 1), ('treasures', 1), ('expected', 1), ('forget', 1), ('word', 1), ('caused', 1), ('presently', 1), ('heard', 1), ('sound', 1), ('horses', 1), ('feet', 1), ('concluded', 1), ('drove', 1), ('entering', 1), ('upon', 1), ('delivered', 1), ('female', 1), ('slave', 1), ('go', 1), ('taking', 1), ('room', 1), ('lying', 1), ('bade', 1), ('sew', 1), ('mangled', 1), ('limbs', 1), ('together', 1), ('mustapha', 1), ('obeyed', 1), ('received', 1), ('led', 1), ('same', 1), ('due', 1), ('solemnity', 1), ('deceased', 1), ('resolved', 1), ('find', 1), ('possessed', 1), ('entrance', 1), ('disguising', 1), ('accosting', 1), ('job', 1), ('six', 1), ('allowed', 1), ('traced', 1), ('marked', 1), ('chalk', 1), ('buying', 1), ('nineteen', 1), ('empty', 1), ('properly', 1), ('armed', 1), ('proceeded', 1), ('street', 1), ('sir', 1), ('have', 1), ('sell', 1), ('quite', 1), ('stranger', 1), ('will', 1), ('let', 1), ('my', 1), ('your', 1), ('courtyard', 1), ('direct', 1), ('may', 1), ('lodge', 1), ('to-night', 1), ('welcomed', 1), ('bed', 1), ('own', 1), ('sitting', 1), ('up', 1), ('later', 1), ('usual', 1), ('lamp', 1), ('pot', 1), ('hand', 1), ('is', 1), ('replied', 1), ('no', 1), ('not', 1), ('yet', 1), ('so', 1), ('kettle', 1), ('filled', 1), ('fire', 1), ('poured', 1), ('sufficient', 1), ('boiling', 1), ('kill', 1), ('arose', 1), ('assemble', 1), ('men', 1), ('felt', 1), ('steam', 1), ('rage', 1), ('forced', 1), ('lock', 1), ('escape', 1), ('over', 1), ('walls', 1), ('without', 1), ('letting', 1), ('thieves', 1), ('bottom', 1), ('garden', 1), ('length', 1), ('however', 1), ('determined', 1), ('adopt', 1), ('new', 1), ('scheme', 1), ('destruction', 1), ('valuable', 1), ('merchandise', 1), ('exactly', 1), ('day', 1), ('very', 1), ('fond', 1), ('presents', 1), ('often', 1), ('detained', 1), ('dinner', 1), ('thought', 1), ('necessary', 1), ('make', 1), ('return', 1), ('these', 1), ('civilities', 1), ('carried', 1), ('dish', 1), ('moment', 1), ('looked', 1), ('knew', 1), ('slaves', 1), ('waited', 1), ('table', 1), ('while', 1), ('drinking', 1), ('perceived', 1), ('under', 1), ('coat', 1), ('away', 1), ('dressed', 1), ('habit', 1), ('dancing-girl', 1), ('parlor', 1), ('master', 1), ('ordered', 1), ('come', 1), ('entertain', 1), ('best', 1), ('dancing', 1), ('danced', 1), ('several', 1), ('times', 1), ('before', 1), ('assembled', 1), ('company', 1), ('until', 1), ('drew', 1), ('girdle', 1), ('plunged', 1), ('heart', 1), ('reward', 1), ('faithfulness', 1), ('marriage', 1), ('immense', 1), ('wealth', 1)]
accosting 1 admission 1 adopt 1 again 1 alibaba 17 all 2 allowed 1 among 1 appeared 2 approaching 3 armed 1 arose 1 assemble 1 assembled 1 asses 3 away 1 back 2 bade 1 bags 1 bed 1 before 1 best 1 blindfolded 3 body 3 boiled 2 boiling 1 bottom 1 branches 1 brother 4 brothers 1 brought 3 buried 2 buying 1 by 1 came 1 captain 5 carried 1 carry 1 cassim 6 caused 1 cave 4 chalk 1 chests 1 city 2 civilities 1 climbed 1 closed 1 coat 1 cobbler 2 cogia 5 coin 1 come 1 coming 2 company 1 concluded 1 considerable 1 cottage 1 could 1 counted 1 courtyard 1 cut 2 cutting 1 dagger 2 danced 1 dancing 1 dancing-girl 1 day 1 death 3 deceased 1 delivered 1 destruction 1 detained 1 determined 1 dinner 1 direct 1 disguising 1 dish 1 door 8 down 1 dressed 1 drew 1 drinking 1 drove 1 due 1 dwelt 2 each 2 early 3 ease 1 elder 1 empty 1 entering 1 entertain 1 entrance 1 escape 1 every 3 exactly 1 expected 1 faggots 1 faithfulness 1 family 1 feet 1 felt 1 female 1 filled 1 find 1 fire 1 first 3 flew 1 fond 1 forced 1 forest 2 forget 1 fortune 1 forty 1 found 4 full 2 gained 1 garden 1 gave 2 girdle 1 go 1 gold 4 great 3 guest 2 habit 1 hand 1 hassan 5 hastily 2 have 1 having 2 heard 1 heart 1 herself 3 hid 2 himself 4 horse 1 horsemen 1 horses 1 house 5 however 1 immediately 2 immense 1 instantly 2 invited 2 is 1 itself 1 jar 3 jars 2 job 1 kettle 1 kill 1 kitchen 2 knew 1 lamp 1 large 3 later 1 led 1 length 1 let 1 letting 1 limbs 1 lived 2 load 1 loaded 2 lock 1 lodge 1 looked 1 lying 1 made 2 maintained 1 make 1 man 3 mangled 1 many 2 marked 1 marriage 1 married 1 master 1 may 1 mean 1 men 1 merchandise 1 merchant 2 moment 1 more 1 morgiana 5 morning 3 mules 3 mustapha 1 my 1 named 1 necessary 1 new 1 next 3 night 2 nineteen 1 no 1 not 1 obeyed 1 offered 2 often 1 oil 8 on 2 one 6 open 5 opened 2 opposite 2 ordered 1 other 2 out 6 over 1 own 1 parlor 1 passed 1 perceived 1 persia 1 pieces 3 plunged 1 poor 3 portmanteau 1 possessed 1 possession 2 pot 1 poured 1 preparing 1 presently 1 presents 1 pretended 3 proceeded 1 properly 1 put 6 quarters 2 quite 1 rage 1 ran 2 received 1 removed 2 replied 1 resolved 1 rest 2 return 1 reward 1 robber 3 robbers 4 rock 3 room 1 rose 1 said 6 same 1 saw 1 scheme 1 secret 3 sell 1 sent 2 sesame 4 set 2 several 1 sew 1 shop 2 short 1 shut 2 sir 1 sitting 1 six 1 slave 1 slaves 1 so 1 solemnity 1 some 2 son 3 sons 1 soon 3 sound 1 steam 1 stranger 1 street 1 suburbs 1 sufficient 1 supper 2 table 1 taking 1 ten 1 than 2 these 1 thick 1 thieves 1 thirty-nine 2 thought 1 time 2 times 1 to-night 1 together 1 told 2 took 6 town 1 traced 1 treasures 1 tree 1 troop 3 turning 1 two 3 under 1 until 1 up 1 upon 1 usual 1 valuable 1 ventured 1 very 1 waited 1 walls 1 way 2 wealth 1 welcomed 1 went 5 when 3 where 4 which 5 while 1 who 4 wife 3 will 1 within 2 without 1 wood 2 word 1 yet 1 your 1

# 집합(set)
+ **특징**
 - 중복 없는 요소로만 구성
 - 중괄호({}) 작성되며 각 요소는 쉼표(,)로 구분
 - 순서 없음
+ **생성자 set()**
 - 리스트나 튜플의 중복 요소 제거 
+ **요소 추가**
 - 집합명.add(요소) : 하나의 요소 추가
 - 집합명.update(추가집합) : 여러 요소를 추가
+ **요소 삭제**
 - 집합명.remove(요소값) : 하나의 요소 삭제
 - 집합명.clear() : 모든 요소 삭제
+ **집합 연산**
 - 교집합 : &
 - 합집합 : |
 - 차집합 : -

In [ ]:
# 집합
a = (1, 2, 2, 3)
b = [10, 20, 30, 30]
a

(1, 2, 2, 3)

In [ ]:
type(a)
type(b)
a = set(a)
a

{1, 2, 3}

In [ ]:
# 중복요소제거 및 형변환
print(f'{a}의 type : {type(a)}')
a = set(a)
print(f'{a}의 type : {type(a)}')

print(f'{b}의 type : {type(b)}')
b = set(b)
print(f'{b}의 type : {type(b)}')

{1, 2, 3}의 type : <class 'set'>
{1, 2, 3}의 type : <class 'set'>
[10, 20, 30, 30]의 type : <class 'list'>
{10, 20, 30}의 type : <class 'set'>

In [ ]:
a.add(100)
a

{1, 2, 3, 100}

In [ ]:
b = set(b)
b

{10, 20, 30}

In [ ]:
#요소 추가
a.add(100)
b.update({100,200,300})

print(a)
print(b)
b

{1, 2, 3, 100}
{20, 100, 200, 10, 300, 30}

{10, 20, 30, 100, 200, 300}

In [ ]:
#요소 삭제
a.remove(100)
print(a)

a.clear()
print(a)

{1, 2, 3}
set()

In [ ]:
#집합 연산
a.update({100,200,500})
print(f'a집합 = {a} , b집합 = {b}')
print(f'교집합 a & b = {a & b}')
print(f'합집합 a | b = {a | b}')
print(f'차집합 a - b = {a - b}')

a집합 = {200, 100, 500} , b집합 = {20, 100, 200, 10, 300, 30}
교집합 a & b = {200, 100}
합집합 a | b = {100, 200, 10, 300, 500, 20, 30}
차집합 a - b = {500}

# 컬렉션 데이터
+ 컬렉션 데이터 모든 요소에 접근 
+ `for 요소변수 in 컬렉션명 `:


### **zip()**
+ 동일한 개수로 이루어진 자료형을 묶어 주는 역할을 하는 함수

In [ ]:
# 컬렉션 요소 접근
lst = [10, 50, 30]
tp = ('a', 'b', 'c')

for item in lst :
  print(item, end=' ')
print()

for item in tp :
  print(item, end=' ')

10 50 30
a b c

In [ ]:
a = [ 1, 2, 3]
b = ('a', 'b', 'c')
c = dict(zip(a,b))
print(c)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# 딕셔너리 만들기
dt = dict(zip(tp, lst))
print(dt)

for item in dt :
  print(f'{item} : {dt[item]}')

{'a': 10, 'b': 50, 'c': 30}
a : 10
b : 50
c : 30

##딕셔너리 만들기
1. for
```
for i in range(0, len(name)):
      ice[name[i]] = price[i]
ice
```

2. dict(zip(a, b))
```
icecream = dict(zip(name, price))
print(icecream)
```

In [ ]:
name = ['merona', 'gugucon']
price = [500, 1000]
ice = {}

#for

#dict(zip(a,b))

{'gugucon': 1000, 'merona': 500}

###**map()**
리스트의 요소를 지정된 함수로 처리해주는 함수<br>
원본 리스트를 변경하지 않고 새 리스트를 생성

Q) 실수가 저장된 리스트가 있을 때 이 리스트의 모든 요소를 정수로 변환하려면?<br>
`a = [1.2, 2.5, 3.7, 4.6] `<br>

<img src = "https://dojang.io/pluginfile.php/13699/mod_page/content/3/022019.png" width=500>

In [ ]:
#for문 사용
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
  a[i] = int(a[i])
a

[1, 2, 3, 4]

In [ ]:
#map() 사용
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

## **input().split()과 map**

input().split()의 결과 - 리스트 - map()사용 가능


```
1. a = input().split()
2. a = map(int, input().split())
```

In [ ]:
a = input().split()
a

1 2

['1', '2']

In [ ]:
a = map(int, input().split())
a
list(a)

1 2

[1, 2]

In [ ]:
a, b = [10, 20]
a
b

20


(연습문제) 입력으로 문자열 여러 개와 숫자(실수)가 두 줄로 입력됩니다. 입력된 첫 번째 줄은 키, 두 번째 줄은 값(실수형)으로 딕셔너리를 만들어 출력해보세요. 

*   input().split()의 결과를 변수 한 개에 저장하면 리스트로 저장됨
*   map()함수 사용

(입력)
```
Health Mana Action ATK DEF
575.6 1.7 338.8 1.63 34.5
```
(출력)
```
{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}
```

In [ ]:
x = input().split()
y = input().split() #map(float,
dic = dict(zip(x, y))
print(dic)

Health Mana Action ATK DEF
575.6 1.7 338.8 1.63 34.5
{'Health': '575.6', 'Mana': '1.7', 'Action': '338.8', 'ATK': '1.63', 'DEF': '34.5'}

In [ ]:
x = 'Health Mana Action ATK DEF\n575.6 1.7 338.8 1.63 34.5'
x1 = x.split('\n')
dt = dict(zip(x1[0].split(),x1[1].split()))
dt

{'ATK': '1.63',
 'Action': '338.8',
 'DEF': '34.5',
 'Health': '575.6',
 'Mana': '1.7'}

## 내장함수
+ **len(컬렉션명)**
 - 컬렉션 요소 개수
+ **max(컬렉션명)**
 - 가장 큰 요소 값 반환
 - 딕션너리인 경우는 키 값 중 가장 큰 요소 반환
+ **min(컬렉션명)**
 - 가장 작은 요소 값 반환
 - 딕션너리인 경우는 키 값 중 가장 작은 요소 반환
+ **sum(컬렉션명)**
 - 수치 요소로 이루어진 컬렉션 요소의 합
 - 딕션너리인 경우는 키 값의 합
+ **sorted(컬렉션명)**
 - 컬렉션요소 정렬
 - 딕션너리인 경우는 키 값을 정렬하여 키 리스트 반환

In [ ]:
#내장함수 
print(f'{lst}의 요소 개수 : {len(lst)}')
print(f'{lst}의 최대값 : {max(lst)}')
print(f'{lst}의 최소값 : {min(lst)}')
print(f'{lst}의 합계 : {sum(lst)}')
print(f'{lst}의 정렬 : {sorted(lst)}')
print(f'lst {lst}')


## (해결문제1)
기상청에서 제공하는 2020년 3월 1일에서 3월 31일까지의 평균기온 정보입니다. 다음을 구하시오.
+ 3월 평균, 최고, 최저 기온
+ 최고 기온인 날, 온도
+ 최저 기온인 날, 온도

(출력)

```
평균기온 : 10.44 ℃
최고기온 : 14.5 ℃
최저기온 : 5.1 ℃

최저기온 5.1도: 5일
최고기온 14.5도: 26일
```

In [ ]:
#부산 3월 기온
temp = [10.8, 8.5, 8.7, 7.9, 5.1, 
        8.1, 8.2, 10.4, 11, 9.9, 
        7.8, 9.5, 11.6, 8.2, 7.7, 
        6.6, 11.1, 12.2, 12.6, 10.4, 
        13.7, 14.1, 12.6, 11.5, 13, 
        14.5, 13.7, 9.4, 10.4, 11.6, 12.9]

In [ ]:
print(f'평균기온 : {sum(temp) / len(temp) :0.2f} ℃')
print(f'최고기온 : {max(temp)} ℃')
print(f'최저기온 : {min(temp)} ℃')

평균기온 : 10.44 ℃
최고기온 : 14.5 ℃
최저기온 : 5.1 ℃

In [ ]:
day = 1

for i in temp:
    #print(day, i)
    if i == max(temp):print(f'최고기온 {i}도: {day}일')
    if i == min(temp):print(f'최저기온 {i}도: {day}일')
    day += 1

최저기온 5.1도: 5일
최고기온 14.5도: 26일

## (해결문제2)
기상청 공공데이터를 활용하여 다음 데이터를 추출하고, 주어진 문제를 해결하시오.

* 기상청 공공데이터 주소
 https://data.kma.go.kr/stcs/grnd/grndTaList.do?pgmNo=70
* 리스트 문자열을 int 형태로 변환<br>
`list_a = list(map(int, list_a))`

1. 홀수년도만 출력
2. 년도와 평균기온 딕셔너리 생성
3. 해당년도 추출
  - 평균기온 최소일 때 해당년도
  - 최고기온 최대일 때 해당년도
  - 최저기온 최소일 때 해당년도

(출력)<br>
```
1. [2011, 2013, 2015, 2017, 2019]
2. {'2011': 14.6, '2012': 14.5, ...'2019': 15.7, '2020': 15.2}
3. - 평균기온 최소 2012년 : 14.5℃
   - 최고기온 최대 ['2016']년 : 37.3℃
   - 최저기온 최저 ['2016']년 : -10.2℃

```

In [ ]:
kma='''년	2011	2012	2013	2014	2015	2016	2017	2018	2019	2020
지점	159	159	159	159	159	159	159	159	159	159
평균기온(℃)	14.6	14.5	15.3	15.1	15.4	15.7	15.2	15.1	15.7	15.2
최저기온(℃)	-12.8	-9.9	-10.7	-6	-7.8	-10.2	-7.7	-9.9	-4.4	-8
최고기온(℃)	33	34.5	35	32.9	33.5	37.3	36.2	36.4	35  33.2'''

In [ ]:
kma

'년\t2011\t2012\t2013\t2014\t2015\t2016\t2017\t2018\t2019\t2020\n지점\t159\t159\t159\t159\t159\t159\t159\t159\t159\t159\n평균기온(℃)\t14.6\t14.5\t15.3\t15.1\t15.4\t15.7\t15.2\t15.1\t15.7\t15.2\n최저기온(℃)\t-12.8\t-9.9\t-10.7\t-6\t-7.8\t-10.2\t-7.7\t-9.9\t-4.4\t-8\n최고기온(℃)\t33\t34.5\t35\t32.9\t33.5\t37.3\t36.2\t36.4\t35  33.2'

In [ ]:
kma.split('\n')

['년\t2011\t2012\t2013\t2014\t2015\t2016\t2017\t2018\t2019\t2020',
 '지점\t159\t159\t159\t159\t159\t159\t159\t159\t159\t159',
 '평균기온(℃)\t14.6\t14.5\t15.3\t15.1\t15.4\t15.7\t15.2\t15.1\t15.7\t15.2',
 '최저기온(℃)\t-12.8\t-9.9\t-10.7\t-6\t-7.8\t-10.2\t-7.7\t-9.9\t-4.4\t-8',
 '최고기온(℃)\t33\t34.5\t35\t32.9\t33.5\t37.3\t36.2\t36.4\t35  33.2']

In [ ]:
kma = kma.replace('\t',',').split('\n')
year = kma[0].split(',')[1:]
yavg = kma[2].split(',')[1:]
ymin = kma[3].split(',')[1:]
ymax = kma[4].split(',')[1:]

print(year)
print(yavg)
print(ymin)
print(ymax)

['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
['14.6', '14.5', '15.3', '15.1', '15.4', '15.7', '15.2', '15.1', '15.7', '15.2']
['-12.8', '-9.9', '-10.7', '-6', '-7.8', '-10.2', '-7.7', '-9.9', '-4.4', '-8']
['33', '34.5', '35', '32.9', '33.5', '37.3', '36.2', '36.4', '35  33.2']

In [ ]:
year = list(map(int, year))
len(year)

10

In [ ]:
# 1. 홀수년도 출력
yodd = [item for item in year if item % 2 == 1]
print(yodd)

[2011, 2013, 2015, 2017, 2019]

In [ ]:
# 2. 년도와 평균기온 딕셔너리
yavg = list(map(float, yavg))
ytemp = dict(zip(year, yavg))
print(ytemp)

{'2011': 14.6, '2012': 14.5, '2013': 15.3, '2014': 15.1, '2015': 15.4, '2016': 15.7, '2017': 15.2, '2018': 15.1, '2019': 15.7, '2020': 15.2}

In [ ]:
# 3-1. 년도와 평균기온 딕셔너리에서 평균기온 최소값과 해당년도 추출하기
mintemp = min(ytemp.values())
ryear = ''
for year, temp in ytemp.items():
  if temp == mintemp : ryear += str(year)
print(f'평균기온 최소 {ryear}년 : {mintemp}℃')

평균기온 최소 2012년 : 14.5℃

In [ ]:
mintemp = min(ytemp.values())
ryear = []
for year, temp in ytemp.items():
  if temp == mintemp : ryear.append(year) 
print(f'평균기온 최소 {ryear}년 : {mintemp}℃')

평균기온 최소 ['2012']년 : 14.5℃

In [ ]:
# 3-2. 최고기온 최대일 때 해당년도
maxtemp = max(ymax)
ylist = []
for i in range(len(ymax)):
  if ymax[i] == maxtemp : ylist.append(year[i])
print(f'최고기온 최대 {ylist}년 : {maxtemp}℃')

최고기온 최대 ['2016']년 : 37.3℃

In [ ]:
# 3-3. 최저기온 최소일 때 해당년도
mintemp = min(ymin)
ymlist = []
for i in range(len(ymin)):
  if ymin[i] == mintemp : ymlist.append(year[i])
print(f'최저기온 최저 {ymlist}년 : {mintemp}℃')

최저기온 최저 ['2016']년 : -10.2℃

## (해결문제3) 
다음 numbers 내부에 들어있는 숫자가 몇 번 등장하는지 출력하는 프로그램을 작성해봅니다.

```
# random 함수 활용, 범위 생성하기
numbers = random.int(1,10)
counter = []
```
(출력)
```
[6, 9, 5, 3, 6, 6, 4, 1, 9, 6]
{6: 4, 9: 2, 5: 1, 3: 1, 4: 1, 1: 1}
```

In [ ]:
import random
numbers = []
counter = {}

for i in range(10):
  numbers.append(random.randint(1,10))
print(numbers)

for number in numbers:
  if number in counter:
    counter[number] += 1
  else:
    counter[number] = 1

print(counter)

[6, 9, 5, 3, 6, 6, 4, 1, 9, 6]
{6: 4, 9: 2, 5: 1, 3: 1, 4: 1, 1: 1}

##(해결문제4)
각 리스트를 조합하여 딕셔너리를 만들어봅시다.(for문과 dict() 각각 사용)
```
key_list = ['name','hp','mp','level']
value_list = ['기사', 200, 30, 5]
```
(출력)
```
{'name':'기사', 'hp':200, 'mp':300, 'level':5}
```

In [ ]:
key_list = ['name','hp','mp','level']
value_list = ['기사', 200, 30, 5]
#character = {}

#for 문
for i in range(len(key_list)):
  character[key_list[i]] = value_list[i]
print(character)

#dict()
#cha = dict(zip(key_list, value_list))
#print(cha)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

##(점프)(해결문제5) 
다음 입력데이터를 아래와 같이 출력하시오<br>
(입력)
```
cha = {
  "name":"기사",
  "level":12,
  "items":{"sword":"불꽃의 검","armor":"풀플레이트"},
  "skills":["점프","점점프","점점프"]
}
```

(출력)
```
name : 기사
level : 12
sword : 불꽃의 검
armor : 풀플레이트
skill : 점프
skill : 점점프
skill : 점점프
```

```
*  if, elif, else 사용: 딕셔너리, 리스트, 그외
*  if type(cha[key]) is dic:
    for skey in chr[key]:
      print(f'{skey}:{chr[key][skey}')

```

In [ ]:
cha = {
  "name":"기사",
  "level":12,
  "items":{"sword":"불꽃의 검","armor":"풀플레이트"},
  "skills":["점프","점점프","점점프"]
}

In [ ]:
dt = {"items":{"sword":"불꽃의 검","armor":"풀플레이트"}}
dt['items']['sword']

In [ ]:
dlt = {'skills' : ['점프', '점점프', '점점점프']}
dlt['skills'][0]

In [ ]:
ch = {
  "name":"기사",
  "level":12,
  "items":{"sword":"불꽃의 검","armor":"풀플레이트"},
  "skills":["점프","점점프","점점점프"]
}

for i in ch:
  print(i,":", ch[i])
print()

for i in ch:
  if type(ch[i]) is dict:
    for j in ch[i]:
      print(j, ch[i][j])
  elif type(ch[i]) is list:
    for k in ch[i]:
      print(i, k)
  else:
    print(i, ch[i])

name : 기사
level : 12
items : {'sword': '불꽃의 검', 'armor': '풀플레이트'}
skills : ['점프', '점점프', '점점점프']

name 기사
level 12
sword 불꽃의 검
armor 풀플레이트
skills 점프
skills 점점프
skills 점점점프